html,body {
height:100%;
width:100%;
margin:0;
}

canvas {
position:absolute;
margin:auto;
top:0;
bottom:0;
right:0;
left:0;
z-index:1000;
}

.prezContainer {
position:absolute;
top:50%;
left:50%;
height:90%;
width:90%;
transform:translate(-50%, -50%);
overflow-x:hidden;
}

#slideContainer {
position:absolute;
height:100%;
width:100%;
}

.divider {
height:5px;
width:100%;
background-color:rgb(99,210,151);
margin:10px 0;
}

.show {
opacity:0;
}

.redDivider {
position:absolute;
background-color:red;
height:7px;
width:230px;
bottom:350px;
margin:auto;
right:0;
left:0;
}

.yellowDivider {
position:absolute;
background-color:yellow;
height:7px;
width:460px;
left:0;
right:0;
margin:auto;
bottom:235px;
}

.orangeDivider {
position:absolute;
background-color:orange;
height:7px;
width:920px;
bottom:0;
left:0;
right:0;
margin:auto;
}

#slideNum {
position:absolute;
bottom:0;
right:-1px;
width:30px;
border:none;
background-color:black;
color:white;
}

#goToSlide{
position:absolute;
bottom:0;
right:0;
}

.fullText{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:1.4em;
}

.mainText {
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:3.5em;
margin-top:0;
}

.centered {
text-align:center;
}

.leftHalf, .rightHalf {
width:50%;
height:100%;
padding:5%;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
display:inline-block;
}

.leftHalf {
background-color:white;
color:black;
float:left;
}

.rightHalf {
position:relative;
right:-1px;
background-color:black;
color:white;
float:right;
text-align:center;
}

.expContainer {
position:relative;
height:451px;
width:920px;
margin:auto;
}

.expContainer img {
position:absolute;
bottom:0;
right:0;
left:0;
margin:auto;
}

.centered div {
display:inline-block;
}

.vert-center {
position:relative;
top:50%;
transform:translateY(-50%);
}

.slide0, .slide1, .slide4, .slide5, .slide10, .slide11,.slide13,
.slide14, .slide15, .slide16, .slide17, .slide18  {
background-color:black;
color:white;
}

.slide2, .slide3, .slide12, .slide19, .slide20, .slide21, .slide22,  {
background-color:white;
color:black;
}

.slide6,.slide7,.slide8,.slide9,.slide23,.slide24,.slide25,.slide26 {
background-color:rgb(99,210,151);
color:black;
}

::-webkit-scrollbar {
width:5px;
height:5px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
background:LightGrey;
}


::-webkit-scrollbar-thumb {
background: #ED686E; 
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #ED686E; 
}

@media screen and (max-width:1024px) {
	.ten24fix {
		width:828px!important;
	}

}