html,body {
	height:100%;
	width:100%;
	margin:0;
}

canvas {
    background-color:black;
  	margin:50px auto;
    display: block;
}

.map {
    position:absolute;
    margin-left:20%;
    width:80%;
    height:100%;
    background-color:lightGrey;
}

.sidebar {
background-color:black;
color:white;
padding:10px;
padding-left:20px;
height:100%;
width:400px;
}

.cute {
display:inline-block;
font-family:"Courier New";
background-color:#ED686E; 
border:none;
height:30px;
padding:0 10px;
line-height:30px;
border-style:solid;
border-width:0 3px 5px 0;
border-color:#8F383C;
color:white;
margin:0;
margin:10px 0 10px 0px;
}

.cute:hover {
background-color:#BD5055;
box-shadow: inset 0 0 0 1px #BD5055,inset 0 5px 30px #8F383C;
border:none;
padding:0 13px 5px 10px;
}

#choose  {
font-family:"Lucida Console";
}

#map-generator > * {
    font-family:"Lucida Console", Monaco, monospace;
}

#map-generator button {
font-family:"Courier New";
background-color:#ED686E; 
height:30px;
padding:0 10px;
line-height:30px;
border-style:solid;
border-width:0 3px 5px 0;
border-color:#8F383C;
color:white;
margin:0;
margin:10px 0 10px 0px;
}


#map-generator button:hover {
box-shadow: inset 0 0 0 1px #BD5055,inset 0 5px 30px #8F383C;
border:none;
padding:0 13px 15px 10px;
}

#upload-custom img {
position:relative;
height:20px;
width:20px;
top:5px;
margin-right:5px;
}

#map-generator h1 {
font-family:"Lucida Sans Unicode";
text-transform: uppercase;
}

.title {
display:block;
font-family:"Lucida Sans Unicode";
}

.hidden {
display:none;
}

input[type=text]:read-only {
background-color:black;
color:white;
border:none;
}

.indicator {
height:150px;
width:270px;
background-image:url('progress.gif');
background-size:cover;
display:none;
}

input[type=text] {
width:25px;    
}