body {
	background-color:white;
}

.container {
	font-family:sans-serif;
	margin:auto;
	width:700px;
	background-color:#D0D0D0;
	
}

.logo-container {
	margin:0 auto;
	width:700px;
}

.logo-container img {
	display:block;
	margin:0 auto;
}

.container nav {
	margin-top:20px;
	background-color:black;
	padding:10px 0 10px 0;
}

.container nav a {
	position:relative;
	background-color:black;
	color:white;
	text-decoration: none;
	padding:10px;
}

.container nav a:hover {
	top:-10px;
	padding-bottom:20px;
}

.selected {
	top:-10px;
}

.main {
	padding:24px;
	font-family:sans-serif;
}

.main img {
	display:block;
	margin:auto;
	border-radius:20px;
	margin-right:20px;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}

a {
	color:blue;
	text-decoration: none;
}

.title {
	font-weight:bold;
	font-size:1.2em;
	font-family:sans-serif;
}

.subtitle {
	font-weight:bold;
	margin-left:10px;
	font-size:1.1em;
	font-family:sans-serif
}

.first {
	margin-left:20px;
	font-family:"Cambria";
}

.second {
	margin-left:30px;
	font-family:"Cambria";	
}