body {
	background-color:white;
}

.container {
	font-family:serif;
	margin:auto;
	width:700px;
	background-color:grey;
}

.logo-container {
	margin:auto;
	width:700px;
}

.container nav {
	margin-top:20px;
	background-color:black;
	padding:10px 0 10px 0;
}

.container nav a {
	position:relative;
	background-color:black;
	color:white;
	text-decoration: none;
	padding:10px;
}

.selected {
	top:-10px;
}

.main {
	padding:25px;
	font-family:sans-serif;
}

.main img {
	border: 10px solid white;	
	display:block;
	margin:10px;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}

a {
	color:white;
	text-decoration: none;
}

